.main-header {
  background: url(../img/black.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  color: #ffffff;
}

.main-header .showcase {
  padding-top: 100px;
}
.header__brand__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right:5rem;
  margin-top:0.5rem;
}
.sec {
  background-size: cover;
  background-position: center;
  border: rgb(92, 157, 231) solid 3px;
 
  min-height: 160px;
  position: relative;
}
.active-link{
 color: #24c4da;
font-weight: bold;
}

